@import "./prosemirror.css";
@import "./syntax.css";
@import "./baseTheme.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: var(--bg-color);
  /* Mobile selection highlight (that doesn't work) */
  -webkit-tap-highlight-color: var(--selection-bg-color);
  color: var(--fg-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.title {
  position: absolute;

  font-family: SFMono-Regular, ui-monospace, Menlo, monospace;
  font-size: 1rem;
  line-height: 28px;
  font-weight: 700;
  text-decoration: none;

  color: var(--secondary-fg-color);
  top: 0;
  right: 0;
  padding-top: 1rem;
  padding-right: 0.5rem;
  margin: 0 auto;
  writing-mode: vertical-lr;

  transition-duration: var(--cursor-animation-duration);
}

.title:hover {
  color: var(--accent-color);
}

main {
  padding: 2rem 2rem 4rem 2rem;
  flex: 1 1 auto;
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .title {
    padding-right: 1rem;
    writing-mode: initial;
  }
  main {
    padding: 4rem 2rem;
  }
}

.cursor {
  position: absolute;
  top: 0;
  left: 0;

  width: 3px;
  height: 24px;

  opacity: 1;
  border-radius: 4px;
  background-color: var(--accent-color);

  transform: translate(4rem, 2rem);
  transition: transform var(--cursor-animation-duration), opacity 0.1s;
}

.cursor.inactive {
  opacity: 0.5;
  transition: opacity 0.5s;
}

.ProseMirror {
  flex: 1 1 auto;
  font-family: var(--font);
  font-size: 1.2rem;
  line-height: 28px;
  caret-color: transparent;
}

.ProseMirror:focus {
  outline: none;
}

::selection {
  background-color: var(--selection-bg-color);
}

::-moz-selection {
  background-color: var(--selection-bg-color);
}

.ProseMirror p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.ProseMirror p code {
  color: #a0a0a0;
  font: var(--font);
}
