:root {
  --bg-color: #121416;
  --accent-color: #17d49b;
  --fg-color: #efefef;
  --selection-bg-color: rgba(23, 212, 155, 0.4);
  --cursor-animation-duration: 80ms;
  --font: SFMono-Regular, ui-monospace, Menlo, monospace;
  --font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: var(--bg-color);
  /* Mobile selection highlight (that doesn't work) */
  -webkit-tap-highlight-color: var(--selection-bg-color);
  color: var(--fg-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  -webkit-font-smoothing: antialiased;
  scrollbar-color: var(--accent-color);
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 6px;
}

.title {
  position: absolute;

  font-family: var(--font);
  font-size: var(--font-size);
  line-height: 28px;
  font-weight: 700;
  text-decoration: none;

  color: #696969;
  top: 0;
  right: 0;
  padding-top: 1rem;
  padding-right: 0.5rem;
  margin: 0 auto;
  writing-mode: vertical-lr;

  transition-duration: var(--cursor-animation-duration);
}

.title:hover {
  color: var(--accent-color);
}

main {
  padding: 2rem 2rem 4rem 2rem;
  flex: 1 1 auto;
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .title {
    padding-right: 1rem;
    writing-mode: initial;
  }
  main {
    padding: 4rem 2rem;
  }
}

.cursor {
  position: absolute;
  top: 0;
  left: 0;

  width: 4px;
  height: 28px;

  opacity: 1;
  border-radius: 4px;
  background-color: var(--accent-color);

  transform: translate(4rem, 2rem);
  transition: transform var(--cursor-animation-duration) ease-out, opacity 0.1s;
}

.cursor.inactive {
  opacity: 0.5;
  transition: opacity 0.5s;
}

.cm-editor {
  flex: 1 1 auto;
}

.ͼ2 .cm-content {
  caret-color: transparent;
  font-family: var(--font);
  font-size: var(--font-size);
  line-height: 28px;

  white-space: normal;
}

.ͼ1.cm-editor.cm-focused {
  outline: none;
}

::selection {
  background-color: var(--selection-bg-color);
}

::-moz-selection {
  background-color: var(--selection-bg-color);
}

.ProseMirror p code {
  color: #a0a0a0;
  font: var(--font);
}
