.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.code {
  color: gray;
  font-family: SFMono-Regular, ui-monospace, Menlo, monospace;
}

.heading-1 {
  color: white;
  font-weight: bold;
}

.heading-2 {
  color: white;
  font-weight: bold;
}

.heading-3 {
  color: white;
  font-weight: bold;
}

.divider {
  color: var(--secondary-fg-color);
}
